<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ListSerialPort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ListSerialPort.Properties.Settings>
            <setting name="StartApplicationPath" serializeAs="String">
                <value>C:\Program Files (x86)\teraterm\ttermpro.exe</value>
            </setting>
            <setting name="StartApplicationArguments" serializeAs="String">
                <value>/C={1} /SPEED=115200 /CDATABIT=8 /CPARITY=none /CSTOPBIT=1 /CFLOWCTRL=none</value>
            </setting>
            <setting name="StartApplicationMenu" serializeAs="String">
                <value>TeraTermを起動</value>
            </setting>
        </ListSerialPort.Properties.Settings>
    </userSettings>
    
</configuration>